.workout {
  padding-top: 0.5rem;
  height: calc(var(--vh) * 100);
}

.back {
  position: absolute;
  padding: 0.25rem 1rem;
  color: #fff;
  background-color: transparent;
}

.workoutName {
  display: flex;
  justify-content: center;
}

.workoutActions {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
}

.iconButton {
  background-color: transparent;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 0.9rem;
}
