.profile {
  // display: grid;
  // place-items: center;
  padding-top: var(--page-content-padding);
}

.profileContainer {
  width: 100%;
  display: grid;
  place-items: center;
}

.profilePicture {
  height: 100px;
  aspect-ratio: 1 / 1;
  background: grey;
  border-radius: 50%;
}

.userInfo {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.info {
  width: 33%;
  font-size: 1.5rem;
  font-size: 400;
  text-align: center;
}

.secondaryText {
  color: #525662;
  font-size: 0.75rem;
}

.infoLabel {
  font-size: 0.75rem;
}
