.home {
    width: 100vw;
    height: 100vh;
}

.loginButtons {
    position: absolute;
    bottom: env(safe-area-inset-bottom, 90px);
    width: 100%;
    padding: 1rem;
}

.loginButtons>button {
    display: block;
}


.loginButton {
    width: 100%;
}

.googleLogin {
    margin-top: 0.6rem;
}