.heading {
  display: flex;
  justify-content: space-between;
}

.addWorkoutButtonContainer {
  text-align: right;
  padding-top: var(--page-content-padding);
}

.addWorkoutButton {
  color: #fff;
  background-color: transparent;
  font-weight: 100;
}
