.workout {
  padding-top: 0.5rem;
  height: calc(var(--vh) * 100);
  width: 100%;
}

.back {
  position: absolute;
  padding: 0.25rem 0;
  color: #fff;
  background-color: transparent;
}

.workoutName {
  display: flex;
  justify-content: center;
}
