:root {
  --border-radius: 12px;
  --black-bg: #0f0f0f;
  --page-content-padding: 3.125rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Hind Siliguri', sans-serif, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: var(--black-bg);
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input {
  outline: none;
  border-radius: var(--border-radius);
  border: none;
  color: #fff;
  background-color: #1d1d1d;
  font-weight: 400;
}

.error {
  color: red;
}

.signUpWithGoogle {
  display: flex;
  justify-content: center;
}

.formField,
.signUpButton {
  display: block;
  padding: 0.5rem 0.8rem;
  border: 1px solid #3a3a3a;
  width: 100%;
}

.signUpButton {
  margin-top: 1rem;
  font-weight: 600;
}

.label {
  font-weight: 200;
}

.error {
  color: red;
  font-size: 0.8rem;
}

.card {
  background: #1d1d1d;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
}

.header {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.1rem;
  color: #fff;
}
