:root {
  --border-radius: 12px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Hind Siliguri', sans-serif, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background-color: #0f0f0f;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input {
  outline: none;
  border-radius: var(--border-radius);
  border: none;
  color: #fff;
  background-color: #1d1d1d;
  font-weight: 400;
}

.signUpWithGoogle {
  display: flex;
  justify-content: center;
}

.formField,
.signUpButton {
  display: block;
  padding: 0.5rem 0.8rem;
  border: 1px solid #3a3a3a;
  width: 100%;
}

.signUpButton {
  margin-top: 1rem;
  font-weight: 600;
}

.label {
  font-weight: 200;
}

.error {
  color: red;
  font-size: 0.8rem;
}
